/*Placing the poster at the center of the screen using a flex box*/
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Making the main a flex box and changing the direction to vertical, so all content is perfectly above each other*/
/*flex end to make all content go to the bottom*/
/*the height and width were based on the size of the image*/
body>main{
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    display:flex;
    margin-top:auto;
    height: 898px;
    width: 600px;
    background-image: url("../img/Poster.webp");
    background-repeat: no-repeat;
    background-size:cover;
}

/*Make the section a flex box so all content is align at the side of each other*/
body>main>section{
    display:flex;
    width:300px;
    height:80px;
}

/*Change all my h text to the medieval font, change it's color, add some shadow*/
body>main>section>div>h1,h2{
    font-family: 'MedievalSharp';
    color:#c2a400;
    text-shadow:
    /* Right bottom shadow */
    1px 1px 0px rgba(0, 0, 0, 0.5),
    /* Left top shadow */
    -1px -1px 0px rgba(0, 0, 0, 0.5),
    /* Left bottom shadow */
    -1px 1px 0px rgba(0, 0, 0, 0.5), 
    /* Right top shadow */
    1px -1px 0px rgba(0, 0, 0, 0.5); 
}

/*All these next steps are related to aligning all three div's and fixing their sizes as well */
body>main>section>div:nth-child(2){
    padding-top:30px;
}

body>main>section>div:nth-child(1)>h2{
    font-size:60px;
}

body>main>section>div:nth-child(3)>h2{
    font-size:58px;
}

body>main>div:nth-child(2){
    padding-top:17px;
}

/*Style my sub-title just like my main title, changing its font, color and adding some shadows*/
body>main>div:nth-child(2)>h1{
    font-family: 'MedievalSharp';
    color:#c2a400;
    font-size:19px;
    padding-left:30px;
    text-shadow:
    /* Right bottom shadow */
    1px 1px 0px rgba(0, 0, 0, 0.5),
    /* Left top shadow */
    -1px -1px 0px rgba(0, 0, 0, 0.5),
    /* Left bottom shadow */
    -1px 1px 0px rgba(0, 0, 0, 0.5), 
    /* Right top shadow */
    1px -1px 0px rgba(0, 0, 0, 0.5); 
}



/*Fixing the size of the text content below my sub-title and changing it's color as well*/
body>main>div:nth-child(3)>h1{
    font-size:8px;
    text-align:center;
    color: gray;
}

/*Make the div that contains the menu and the image a flex box so they align with  each other*/
body>main>div:nth-child(4){
    display: flex;
    align-items:center;
}

/*Styling my hyper link and changing it's color*/
body>main>div:nth-child(4)>nav>menu>li{
list-style-type: none;
}

body>main>div:nth-child(4)>nav>menu>li>a{
    color:white;
}

/*fix the size of the image and add some padding between the image and the nav*/
body>main>div:nth-child(4)>img{
    height:10px;
    padding-left:20px
}